@model List<BrewOS.Models.Sensors.TemperatureSensors.TemperatureSensor>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Settings</h1>
    <h2>Sensor Bindings</h2>


    <table class="table">
        <tbody id="TempTable">
            @foreach (var device in Model)
            {
            <tr id=@device.Address>
                <td class="SensorName">
                    @Html.DisplayFor(modelitem => device.Name)
                </td>
                <td class="SensorAddress">
                    @Html.DisplayFor(modelitem => device.Address)
                </td>
                <td class="SensorTemp">
                    @Html.DisplayFor(modelitem => device.Sensor.TempF)
                </td>
                <td class="SensorAvailable">
                    @Html.DisplayFor(modelitem => device.Sensor.Available)
                </td>
            </tr>

            }
        </tbody>
    </table>
</div>

<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/temps.js"></script>
